html{
    box-sizing:border-box;
}
*, *:before, *after{
    box-sizing:inherit;
}

body {
    background:#F1FFFA;
}
.week{
color:#061A40;
}

.main-heading{
    color:#061A40;
    background: #A8DADC;
    padding:2%;
    max-width:500px;
    margin:10px auto 10px auto;

}
.second-main-heading{
    color:#061A40;
    background: #A8DADC ;  

}
.paragraph--heading{
    color:#061A40;
    background: #A8DADC;
    max-width:300px;
    padding:auto;
    margin:10px auto ;
}
.paragraph{
    margin:0 10px;
}
.section--heading{
    color:#061A40;
    background: #A8DADC;    
    
}
.week{
    width:300px;
    margin:20px auto
}
.week--heading{
    
}
.learned--heading{
    
}
.learned--list{
    color:red;
    max-width:500px;
    margin:20px auto;

}
.navigation-bar{
    background:#061A40;
    padding:0.5%;
}
.navigation-link{
   color:#d5f3ff ;
}
.footer{
    background:#061A40;
    color:#d5f3ff;;
    padding:0.5%;
    border:0.5px solid black;
    border-radius: 10%;
    position:fixed;
    top:20px;
    right:20px;
}