html{
    box-sizing:border-box;
}
*, *:before, *after{
    box-sizing:inherit;
}

body {
    background:#F1FFFA;
}
.week{
color:#061A40;
}

.main-heading{
    color:#061A40;
    background: #A8DADC;
    padding:2%;

}
.second-main-heading{
    color:#061A40;
    background: #A8DADC ;  

}
.paragraph-heading{
    color:#061A40;
    background: #A8DADC;
}
.section-heading{
    color:#061A40;
    background: #A8DADC;    
    
}
.learned{
    color:#3fadb1 ;
}
.navigation-bar{
    background:#061A40;
    padding:0.5%;
}
.navigation-link{
   color:#d5f3ff ;
}
.footer{
    background:#061A40;
    color:#d5f3ff;
    padding:0.5%;
}